* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #68B984;
}

h1 {
  color: red;
  margin-left: 39%;
  font-size: 228%;
  padding-top: 1%;
}

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  margin: 17px;
  padding: 7px;
}

#navbar::before {
  content: "";
  background-color: rgb(58, 26, 26);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

#FullPage {
  background-color: rgb(82, 107, 82);
}

#red {
  padding: 15px;
  margin: 10px;
  background-image: url("./Background image/backgound img 1.jpg");
}

#sun {
  /* border: 3px solid red; */
  /* background-color: violet; */
  padding: 15px;
  margin: 10px;

  background-image: url("./Background image/backgound img 1.jpg");

}

#Khan {
  /* border: 3px solid red; */
  /* background-color: violet; */
  padding: 15px;
  margin: 10px;
  background-image: url("./Background image/backgound img 1.jpg");
}

#Huma {
  /* border: 3px solid red; */
  /* background-color: violet; */
  padding: 15px;
  margin: 10px;
  background-image: url("./Background image/backgound img 1.jpg");
}

#Taj {
  /* border: 3px solid red; */
  /* background-color: violet; */
  padding: 15px;
  margin: 10px;
  background-image: url("./Background image/backgound img 1.jpg");
}

h2 {
  color: rgb(77, 2, 2);
  margin: auto;
  padding: 2%;
  margin-left: 28%;
  font-size: 263%;
  font-weight: bold;

}

/* .border {
  /* background-color:rgb(62, 99, 62); */
/* border: 10px solid yellow;
} */


.photo {
  width: 1000px;
  padding: 15px;
  margin-left: 25%;

}

img {
  width: 600px;
  height: 400px;

}

.para {
  color: black;
  width: 1000px;
  margin-left: 15%;
  padding: 15px;
  font-weight: bold;

}



#song {
  margin: 1%;
  border: 3px solid green;
  background-image: url("./Background image/background img 3.jpg");
  padding-top: 2%;

}

.aud {
  padding-bottom: 4%;
  margin-left: 25%;
}

span {
  font-size: 200%;
  margin-left: -9%;

}

audio {
  margin-top: -4%;
  padding-left: 22%;
  display: block;
}

#videos {
  margin: auto;
  padding-left: 4%;
  border: 5px solid brown;
  background-image: url("./Background image/backgound img 2.jpg");
  opacity: 0.8;


}

iframe {
  margin: 10px;
  padding: 20px;
}

footer {

  border: 3px solid orange;
  color: white;
  background-color: black;
  font-size: 150%;

}

#footerr {
  margin: auto;
  text-align: center;
}